NODE_ENV=development
LOG_LEVEL=info

APP_URL=http://dev.local/api/v2/documents

AUTH_SECRET= # `pnpm exec auth secret` or `openssl rand -base64 32`

AUTH_AUTH0_ID=
AUTH_AUTH0_SECRET=
AUTH_AUTH0_ISSUER=
AUTH_AUTH0_AUDIENCE=urn:docuhost

MONGODB_PROTOCOL=  # optional, default: 'mongodb', use 'mongodb+srv' for atlas
MONGODB_HOST=      # optional, default: 'localhost'
MONGODB_PORT=      # optional, mongodb defaults to 27107 if not specified
MONGODB_DATABASE=  # optional, default: 'documents'
MONGODB_USERNAME=
MONGODB_PASSWORD=

SHORTLINK_SERVICE_URL=https://api.tinyurl.com
SHORTLINK_API_KEY=
SHORTLINK_DOMAIN=tinyurl.com

# SHORTLINK_SERVICE_URL=https://api-ssl.bitly.com
# SHORTLINK_API_KEY=
# SHORTLINK_DOMAIN=bit.ly
